<!DOCTYPE html>
<html>
	<head>
		<title>Point Match Explorer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="{{ url_for('static', filename='css/pme.css') }}" rel="stylesheet">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='vendor/three.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/TrackballControls.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/lodash.core.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/chroma.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/pme.js') }}" ></script>

		<div id="container"></div>
		<div id="metaDataContainer">
			<div id="selected_tile_metadata"></div>
			<div id="metadata"></div>
		</div>
		<div id="layerInput">
			Start Z: <input type="number" name="nfirst">
			<br/>
	    End Z: <input type="number" name="nlast">
			<br/>
			<a href="javascript:void();" id="render">Render Layers</a>
		</div>
		<div class="gradient" id="pmStrengthGradient"></div>

		<script>
			var tileData;
			var maxWeight, minWeight;

			$(function() {
				$('a#render').bind('click', function() {
					$.getJSON('getdata', {
						nfirst: $('input[name="nfirst"]').val(),
						nlast: $('input[name="nlast"]').val()
					}, function(data) {
						tileData = data.tiledata;
						console.log(tileData);
						maxWeight = 0;
						minWeight = Number.MAX_VALUE;
						//calculate max and min connection strength based on number of point matches
						//for use in selecting the color indicating the strength
						//TODO this accounts for point matches that are NOT drawn in the final rendering
						_.forEach(tileData, function(layer){
							_.forEach(layer.pointMatches.matchesWithinGroup, function(m){
								maxWeight = Math.max(maxWeight, m.matches.w.length);
								minWeight = Math.min(maxWeight, m.matches.w.length);
							});
							_.forEach(layer.pointMatches.matchesOutsideGroup, function(m){
								maxWeight = Math.max(maxWeight, m.matches.w.length);
								minWeight = Math.min(maxWeight, m.matches.w.length);
							});
						});

						loadPME();
					});
					return false;
				});
			});
		</script>

	</body>
</html>
