<!DOCTYPE html>
<html>
	<head>
		<title>Point Match Explorer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="{{ url_for('static', filename='css/pme.css') }}" rel="stylesheet">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
		<script src="{{ url_for('static', filename='vendor/three.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/TrackballControls.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/lodash.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/chroma.min.js') }}"></script>
		<script type="text/babel" src="{{ url_for('static', filename='js/pme-react-opt.js') }}"></script>
		<!-- <script type="text/babel" src="{{ url_for('static', filename='js/pme-react.js') }}"></script> -->
		<!-- <script src="{{ url_for('static', filename='js/pme.js') }}"></script> -->

		<div id="container"></div>
		<div id="layerInput">
			Start Z: <input type="number" name="nfirst">
			<br/>
	    End Z: <input type="number" name="nlast">
			<br/>
			<a href="javascript:void();" id="render">Render Layers</a>
		</div>
		<div id="specsInput">

		</div>

		<script type="text/babel">

			$.getJSON('getStackIdsAndMatchCollections', function(data) {
				ReactDOM.render(
					<SpecsInput stackIds={data.stackIds} matchCollections={data.matchCollections}/>,
					document.getElementById('specsInput')
				);
				$("#projectselect").change(function(){
					var selectedProject = $(this).val();

					//get the stackIds for the selected project
					var stackForSelectedProject = _.filter(data.stackIds, function(item) {
							return item.project == selectedProject;
					});
					//from the stackIds, only retrieve the stack name
					stackForSelectedProject = _.uniq(_.map(stackForSelectedProject, function(item){
							return item.stack;
					}));
					stackForSelectedProject.sort();

					var stackselect = $("#stackselect");
					stackselect.empty();
					$.each(stackForSelectedProject, function(index, value) {
						stackselect.append("<option>" + value + "</option>");
					});
				});
			});

			$(function() {
				$('a#render').bind('click', function() {
					$.getJSON('getdata', {
						nfirst: $('input[name="nfirst"]').val(),
						nlast: $('input[name="nlast"]').val(),
						project: $("#projectselect").val(),
						stack: $("#stackselect").val(),
						matchCollection: $("#matchcollectionselect").val(),
					}, function(data) {
						ReactDOM.render(
							<PMEReact tileData={data.tiledata}/>,
							document.getElementById('container')
						);
					});
					return false;
				});
			});

		</script>
	</body>
</html>
